.body{
    display: flex;
}
.course{
    
    color: blue;
    border-bottom: 2px solid tomato;
    margin-left:10%;
    padding: 5px;
    padding-bottom: 10px;
    text-align: left;
    width: 75%;

}
.cart{
    background-color: gold;
    width: 25%;
    height: 200px;
    text-align: center;
    margin: 20px;
    padding: 30px;
    border-radius: 30px;

}
